{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block main %}

    <h1>{{model_name1}}</h1>
<h3>Block {{block_name1}}</h3>

{% if phrase %}
{{phrase}}
{{predicted_token}}
{% endif %}

{% from "_formhelpers.html" import render_field %}

<form action="{{url_for('complete', model_name1=model_name1, block_name1=block_name1)}}">
    <dl>
        {{ render_field(form.phrase, cols='50', rows='1') }}
        <input type="submit" value="Complete" name="name">
    </dl>

</form>








{% endblock %}
